<div class="chat-container">
  <div class="chat-header">
    <div class="chat-user">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2202/2202112.png"
        alt="User Avatar"
        class="chat-avatar"
      />
      <div>
        <h2 class="chat-title">Zohaib 💬</h2>
        <p class="chat-status">Connected to PieSocket</p>
      </div>
    </div>
  </div>

  <div class="chat-box" #chatBox>
    <div
      *ngFor="let msg of messages"
      class="chat-message"
      [ngClass]="{
        'sent-message': msg.type === 'sent',
        'received-message': msg.type === 'received'
      }"
    >
      <div class="message-bubble">
        <ng-container *ngIf="msg.msgType === 'text'">
          <span class="message-text">{{ msg.text }}</span>
        </ng-container>
        <ng-container *ngIf="msg.msgType === 'document'">
          <a
            *ngIf="msg.filePath"
            [href]="msg.filePath"
            target="_blank"
            class="file-link"
          >
            📎 {{ msg.text }}
          </a>
        </ng-container>

        <span class="timestamp">{{ msg.ts | date: 'shortTime' }}</span>
      </div>
    </div>
  </div>

  <div class="chat-input-area">
    <input
      [(ngModel)]="input"
      type="text"
      placeholder="Type a message..."
      (keyup.enter)="send()"
      class="chat-input"
    />
    <button (click)="send()" class="chat-send-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
    </button>
  </div>
</div>
