<div class="chat-wrapper">
  <div class="chat-header">
    <div class="chat-header-info">
      <img src="assets/images/img.jpeg" alt="Avatar" class="chat-avatar" />
      <div>
        <h2 class="chat-title">Websocket Chat</h2>
        <p class="chat-status">Connected</p>
      </div>
    </div>
  </div>


  <div class="chat-body">
    <div
      *ngFor="let msg of messages"
      class="message-bubble"
      [ngClass]="{ sent: msg.isSender, received: !msg.isSender }"
    >

      <ng-container *ngIf="msg.msgType === 'image' && msg.filePath">
        <img [src]="msg.filePath" alt="image" class="chat-image" />
      </ng-container>

      <ng-container *ngIf="msg.msgType === 'pdf' && msg.filePath">
        <a [href]="msg.filePath" target="_blank" class="file-link">
          📄 {{ msg.fileName }}
        </a>
      </ng-container>

      <ng-container *ngIf="msg.msgType === 'text'">
        <p class="chat-text">{{ msg.text }}</p>
      </ng-container>

      <div class="timestamp">{{ msg.ts | date: 'shortTime' }}</div>
    </div>
  </div>

  <div class="chat-footer">
    <input
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
      type="text"
      class="chat-input"
      placeholder="Type a message..."
    />
    <label class="file-upload">
<svg xmlns="http://www.w3.org/2000/svg" style="color: #0c6b5f;" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-richtext-fill" viewBox="0 0 16 16">
  <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M7 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047l1.888.974V9.5a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V9s1.54-1.274 1.639-1.208M5 11h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
</svg>
      <input type="file" (change)="handleFileInput($event)" hidden />
    </label>
    <button (click)="sendMessage()" class="send-btn">Send</button>
  </div>
</div>
